<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximumscale=1, minimum-scale=1, width=device-width" />
    <title>My Home Storage application</title>
</head>

<body>
    <div id="app"></div>
</body>

</html>